
.hadding {
  font-size: 35px;
  display: flex;
  padding-bottom: 1%;
  margin-Top: 25px;
}
.perpendicularLine {
  display: flex;
  position: absolute;
  width: 4px;
  height: 33px;
  margin: auto;
  margin-left: -15px;
  margin-top: 6px;
  background-color: rgba(28, 151, 253, 1);
  transform: rotate(0deg);
}

.container{
  width: 100%;
    margin: auto;
    margin-left: -12px;
}
.single-team{
  position: relative; 
  overflow: hidden;
  transition: all 0.3s ease;
}

.team-img{
  position: relative;
}

.team-img:before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  visibility: hidden;
  content: '';
  background: linear-gradient(180deg, rgba(0, 6, 32, 0) 50%, rgba(0, 6, 32, 0.88) 87.5%);
  height: 100%;
  width: 100%;
}

.single-team:hover .team-img:before{
  visibility: visible;
  transform: translateY(0%);
}

.team-img img{
  width: 100%;
  z-index: 10;
  transition: 0.9s;
}

.single-team:hover img{
  transform: scale(1.1);
}

 .overlay-text{
  position: absolute;
  z-index: 15;
  color:#fff;
  top: 30%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0;
  transition: all 0.4s ease;
  font-family: "Times New Roman", Times, serif;  
}

.single-team:hover .overlay-text{
  opacity: 1;
  visibility: visible;
}

.overlay-text h2{
  text-transform: none;
  font-weight: 600;
  transition: all 1s ease;
  font-size: 17px;
  margin: 95px 0 15px;
  position: relative;
  top: 125px;
  margin-left: 10%;
  width: 100%;
}

.single-team:hover h2{
   top: 0;
} 


.button{
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel .control-dots .dot {
  transition: opacity .25s ease-in;
  opacity: .3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
  background: rgb(192, 192, 194);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  width: 35px;
  border-radius: 60px;
  background: rgba(28, 151, 253, 1);

}

@media only screen and (max-width: 600px) {
  .overlay-text h2{
    text-transform: none;
    font-weight: 600;
    transition: all 1s ease;
    font-size: 22px;
    margin: 110px 0 15px;
    position: relative;
    top: 125px;
    margin-left: 25%;
    width: 100%;
  }
  .team-img:before{
    position: absolute;
    top: 0;
    left: -8;
    z-index: 11;
    transform: translateX(-100%);
    transition: all 0.4s ease;
    visibility: hidden;
    content: '';
    background: linear-gradient(180deg, rgba(0, 6, 32, 0) 50%, rgba(0, 6, 32, 0.88) 87.5%);
    height: 100%;
    width: 100%;
  }
}


